# Lesson 1: Fundamental data types of python

For help type shift+tab To pop up respective functions instructions;

Simply press tab to find what are the functions available

Shift+enter to run current cell

In [70]:
#comment
#10

"""
this is my
second lecture 

"""

'\nthis is my\nsecond lecture \n\n'

In [2]:
'1'+'1'

'11'

In [3]:
1 + 1

2

In [4]:
1-3

-2

In [5]:
2*3

6

In [7]:
2**4

16

In [8]:
5%2

1

In [9]:
(2+3) * (5+5)

50

In [10]:
name_of_var=2

In [11]:
x=1
y=2
x+y

3

In [12]:
import math
print ("square root:", math.sqrt(2))
print ("factorial:", math.factorial(3))
print("cosine:", math.cos (90))
print('this is new')

square root: 1.4142135623730951
factorial: 6
cosine: -0.4480736161291701
this is new

<B>String can have single or double quotes </B>

In [13]:
"double?"

'double?'

In [17]:
x='single1'
x

'single1'

In [18]:
x='hello'
print(x)

hello

In [19]:
print ("double")
#there are no quotes displayed in the output
print ('this is single quote example')

double
this is single quote example

<B>Working with format</B> \python will find out value of name and replaces curcly braces with the name

In [21]:
name="Jefferson Costales"
print("Hello my name is {}".format (name))

Hello my name is Jefferson Costales

In [24]:
print("Hello my new name is {0} and my age is {0}".format("Leslie"))

Hello my new name is Leslie and my age is Leslie

In [25]:
age=24
print("Hi my name is {} and my age is {}".format(name,age))

Hi my name is Jefferson Costales and my age is 24

In [26]:
print ("Hi my name is {1} and my age is {1}".format(name,age))

Hi my name is 24 and my age is 24

In [28]:
x=['Jeff','Leslie']
y=[5,6]
print ("Hi my name is {} and my age is {}".format(x[0],y[0]))

Hi my name is Jeff and my age is 5

<H1>LIST <B>

In [31]:
[1,2,3]

[1, 2, 3]

In [32]:
#List can comprise of different data types
L=['hi',0,1,(9,8),('you','me')]
print(L)

['hi', 0, 1, (9, 8), ('you', 'me')]

In [33]:
type(L)

list

In [35]:
my_list.append(4)
my_list

[1, 2, 3, 4]

In [37]:
my_list.insert(1,65)
my_list
# 1 indicates the position

[1, 65, 65, 2, 3, 4]

In [40]:
my_list.insert(3,87)
my_list

[1, 65, 65, 87, 87, 87, 2, 3, 4]

In [41]:
del my_list[3]
my_list

[1, 65, 65, 87, 87, 2, 3, 4]

In [43]:
del my_list[2:3]
my_list

[1, 65, 87, 87, 2, 3, 4]

In [44]:
dlist=[32,33,34,35,36,37,38]
dlist

[32, 33, 34, 35, 36, 37, 38]

In [46]:
dlist[6]

38

In [47]:
dlist[-1]

38

In [48]:
dlist[0]
dlist[3]

35

In [49]:
dlist[0:4:3]

[32, 35]

In [50]:
vowels = ['a','e','i','o','u','e','e'] #remove the first occurence of 'e'
vowels.remove('e')
vowels

['a', 'i', 'o', 'u', 'e', 'e']

In [51]:
vowels.clear() #clear all elements
vowels

[]

<H1>LIST INDEX <B>

In [52]:
my_list1=['a','b','c','d']
my_list1

['a', 'b', 'c', 'd']

In [53]:
my_list1[0]

'a'

In [59]:
#It won't show the value index 2
my_list1[0:2]

['a', 'b']

In [60]:
nested=[1,[2,3,4,6], ['a','b']]
nested

[1, [2, 3, 4, 6], ['a', 'b']]

In [61]:
nested [1][3]

6

In [62]:
nested [2][0]

'a'

In [65]:
nested[2][:]

['a', 'b']

In [64]:
nested[2]

['a', 'b']

**List of ordered pairs**

In [66]:
l = [("blue", "5"), ("red", "6"), ("yellow", "8")]
l

[('blue', '5'), ('red', '6'), ('yellow', '8')]

In [67]:
l[0]

('blue', '5')

In [68]:
l[0][0]

'blue'

In [69]:
l[2][1]

'8'