# Continuation of Pandas

<B> <I>Data Frames<I>

In [2]:
import numpy as np
import pandas as pd

In [10]:
from numpy.random import randn

In [11]:
np.random.randint(2,6,3)

array([5, 4, 4])

In [12]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [17]:
df

          W         X         Y         Z
A  0.613427  0.259368 -0.475522  0.647847
B  0.871212 -1.378891 -0.220567  0.434617
C  0.187537 -0.321605 -0.891308 -1.038979
D -0.122536 -1.095483  0.280289  0.753152
E  0.122414 -0.517743 -0.303435  1.029843

In [19]:
df=pd.DataFrame(randn(5,4))
df

          0         1         2         3
0  0.207795  1.832040  0.456741  0.242785
1  0.585068  0.256933 -0.330220 -0.883223
2  0.455540  0.509117  1.483085 -1.893571
3  0.829254 -0.050392 -1.490392 -0.328376
4 -0.176047 -0.059339 -0.401868  0.371576

<b><i>Create a New Column

In [20]:
df['New_Column']=9
df

          0         1         2         3  New_Column
0  0.207795  1.832040  0.456741  0.242785           9
1  0.585068  0.256933 -0.330220 -0.883223           9
2  0.455540  0.509117  1.483085 -1.893571           9
3  0.829254 -0.050392 -1.490392 -0.328376           9
4 -0.176047 -0.059339 -0.401868  0.371576           9

In [23]:
df.drop('New_Column',axis=1)

          0         1         2         3
0  0.207795  1.832040  0.456741  0.242785
1  0.585068  0.256933 -0.330220 -0.883223
2  0.455540  0.509117  1.483085 -1.893571
3  0.829254 -0.050392 -1.490392 -0.328376
4 -0.176047 -0.059339 -0.401868  0.371576

In [24]:
pwd

'/Users/jeffreycostales/AI101-Demo'

In [26]:
data=pd.read_csv('demodatasetCSV.csv')
data.head()

,Name,Training Course,Email Add,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Jefferson Costales,AI,jeffcostales@gmail.com,NaN,NaN,1.0
1,Jeffrey Costales,DA,jeffreycostales@gmail.com,NaN,NaN,2.0
2,Josephine Costales,AI,josephinecostales@gmail.com,NaN,NaN,2.0
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,5.0

In [28]:
data=pd.read_excel('demodatasetExcel.xlsx')
data.head()

                 Name Training Course                    Email Add  Unnamed: 3
0  Jefferson Costales              AI       jeffcostales@gmail.com         1.0
1    Jeffrey Costales              DA    jeffreycostales@gmail.com         2.0
2  Josephine Costales              AI  josephinecostales@gmail.com         2.0
3                 NaN             NaN                          NaN         NaN
4                 NaN             NaN                          NaN         5.0