Continution of Pandas

In [2]:
import numpy as np
import pandas as pd

In [23]:
from numpy.random import randn

In [20]:
np.random.randint(2, 6, 3)

array([2, 5, 5])

In [25]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'E', 'F'], ['W', 'X', 'Y', 'Z'] )

In [26]:
df

          W         X         Y         Z
A -0.660767 -0.242510  1.084625  0.236806
B  0.327688  0.800703 -1.371766  1.338424
C  0.327075  0.663658 -0.368779 -1.051779
E -0.350844 -1.491245 -1.052047 -1.222533
F -0.076402 -1.022042 -0.226519  0.975683

In [27]:
df = pd.DataFrame(randn(5,4))
df

          0         1         2         3
0 -0.624720  1.696941  0.199146 -0.003387
1  0.746581  0.742764 -0.237568  0.306173
2 -0.152292  0.199731  1.544166  1.301483
3  0.677717 -0.719183 -0.033260 -0.267788
4  1.414736  0.938181  1.545292 -0.836884

<b>Create new Column</b>

In [30]:
df['New_Column'] = 9
df

          0         1         2         3  New_Column
0 -0.624720  1.696941  0.199146 -0.003387           9
1  0.746581  0.742764 -0.237568  0.306173           9
2 -0.152292  0.199731  1.544166  1.301483           9
3  0.677717 -0.719183 -0.033260 -0.267788           9
4  1.414736  0.938181  1.545292 -0.836884           9

In [39]:
df.drop('New_Column', axis=1)
df

          0         1         2         3  New_Column
0 -0.624720  1.696941  0.199146 -0.003387           9
1  0.746581  0.742764 -0.237568  0.306173           9
2 -0.152292  0.199731  1.544166  1.301483           9
3  0.677717 -0.719183 -0.033260 -0.267788           9
4  1.414736  0.938181  1.545292 -0.836884           9

In [40]:
pwd

'c:\\Users\\cyrus\\Documents\\root\\ai101'

In [43]:
data = pd.read_csv('Book1.csv')
data.head()

     Name Training Course            Email Add
0  Cyrus           AI 101  cyrus2952@gmail.com
1  Cyrus               DA  cyrus2952@gmail.com
2  Cyrus           AI 101  cyrus2952@gmail.com