# Lesson 2: Comparison Operators

In [1]:
1>2

False

In [2]:
1==1

True

In [3]:
1!=2

True

In [4]:
'string'=='string'

True

In [5]:
'bell'=='boy'

False

In [6]:
(1==2)and(2==2)

False

In [7]:
(1==2) or (2==2)

True

In [13]:
(1==1) and not (1==2)

True

<b> Control Flow of Python

<b> If Statement

In [14]:
if True:
    print('yes')

yes

In [18]:
if False:
    print('no')

In [19]:
if (1==5):
    print('true')
elif (2!=2):
    print ('yes')
else:
    print('hi')

hi

In [20]:
if (1==3):
    print('true')
elif (2!=3):
    print('yes')

yes

<b>for loops

In [21]:
seq=[10,202,30,40,50]

In [22]:
for item in seq:
    print('hi')

hi
hi
hi
hi
hi

In [23]:
for num in seq:
    print(num)

10
202
30
40
50

In [24]:
for num in seq:
    print(num**2)

100
40804
900
1600
2500

<b>While loops

In [25]:
i=1
while i<5:
    print('i is cuurently {}'.format(i))
    i=i+1

i is cuurently 1
i is cuurently 2
i is cuurently 3
i is cuurently 4

<b>Range Function

In [26]:
range(5)

range(0, 5)

In [27]:
for item in range(5):
    print('item currently is {}'.format(item))

item currently is 0
item currently is 1
item currently is 2
item currently is 3
item currently is 4

In [30]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<b>List comprehension

In [31]:
x=[1,2,3,4]
out =[]
for num in x:
    out.append(num**2)
out

# 1,4,9,16

[1, 4, 9, 16]

The above same code can be written in comprehensive way

In [33]:
x=[10,20,30,40]
[num**2 for num in x]
#100,400,900,1600

[100, 400, 900, 1600]

# Lesson 3: Functions

1. Functions
2. Lambda Expressions
3. Vaiours useful method

In [39]:
def my_func():
    print('hello')

In [40]:
my_func()

hello

<b>functions with parameter

In [44]:
def myfunc(param,param2='class'):
    print(param,param2)

In [45]:
myfunc('this is my class ApDev')

this is my class ApDev class

<b>functions with default parameter

In [50]:
def myfunc1(param=5):
    """
    docstring goes here!
    """
    print(param)
    #return param

In [51]:
myfunc1() # here we are not passing any parameter to the function
#since it is already declared as default in function definition

5

In [53]:
def myfunc1(argument):
    """
    docstring goes here!
    """
    return (argument *5)

In [54]:
x=myfunc1(6)
x
#30

30

In [56]:
def times_two(var):
    return var*2

In [58]:
result = times_two(4)
result

8

instead of the code mentioned above we can lambda function

In [59]:
lambda var: var*2

<b> showing the usage of lambda in map function

In [63]:
seq=[1,2,3,4,5]
list(map(times_two,seq))

[2, 4, 6, 8, 10]

<b> lambda with only one argument

In [64]:
#x=15
list(map(lambda num:num*2,seq))

[2, 4, 6, 8, 10]

<b> lambda functions can accept zero or more arguments but only one expression

In [65]:
f=lambda x, y: x*y
f(5,2)

10

<b>Methods

<b> String Upper and String Lower

In [67]:
st="hello i'm JEFF"

In [68]:
st.lower()

"hello i'm jeff"

<b> Split method

In [70]:
tweet="Go sports ! #cool"

In [71]:
#splits with white space. This is the default one
tweet.split()

['Go', 'sports', '!', '#cool']